.carousel {
    
    position: relative;
    height: 82vh; 
    display: flex;
    transition: all 4s ease-in;
}

.leftBtn {
    position: fixed;
    width: 4%;
    height: 82vh;
    background-color: rgba(0,0,0,0);
    left: 0;
    z-index: 100;
    border: none;
    transition: all .2s;
    

}

.leftBtn:hover {
    position: fixed;
    width: 4%;
    height: 82vh;
    background-color: rgba(0,0,0,.4);
    left: 0;
    z-index: 100;
    

}

.rightBtn {
    position: fixed;
    width: 4%;
    height: 82vh;
    background-color: rgba(0,0,0,0);
    right: 0;
    z-index: 100;
    border: none;
    transition: all .2s;
}

.rightBtn:hover {
    position: fixed;
    width: 4%;
    height: 82vh;
    background-color: rgba(0,0,0,.4);
    right: 0;
    z-index: 100;
}


.scroll-icon { 
    color: rgba(255,255,255,0);
    font-size: 3.5rem;
    
} 

.rightBtn:hover .scroll-icon {
    color: rgba(255,255,255,.9);
    font-size: 3.5rem;
}

.leftBtn:hover .scroll-icon {
    color: rgba(255,255,255,.9);
    font-size: 3.5rem;
}
