.contact-container {
    position: relative;
    margin: 12rem auto;
    /* background-color: rgb(4, 20, 253); */
    width: 80%;
    height: 12rem;
    text-align: center;
    /* color: red; */

}

h3 {
   position: absolute;
   top: 39%;
   left: 50%;
   font-size: 4.2rem;
   /* color: dodgerblue; */
   transition: all .4s;
   transform: translate(-50%, -50%) scale(1);
   cursor: pointer;

   -webkit-user-select: none;
   user-select: none;

   /* background-color: indianred; */

   /* height: 100%; */


   
}
/* LEFT border start*/
h3::before {
    content: "";
    border: 2px solid rgba(0,0,0,0);
    position: absolute;
    top: -.5rem;
    left: -.7rem;
    height: 0%;

    transition: all 1s;
}

/* RIGHT border start*/
h3::after {
    content: "";
    border: 2px solid rgba(0,0,0,0);
    position: absolute;
    bottom: -1rem;
    right: -.7rem;
    height: 0%;

    transition: all 1s;
}

/* BOTTOM border start */
.top-bottom-border::before {
    content: "";
    border: 2px solid rgba(0,0,0,0);

    position: absolute;
    left: -.7rem;
    bottom: -1rem;
    width: 0%;

    transition: all 1s;
    transition-delay: 1s;

 }

/* TOP border start */
 .top-bottom-border::after {
    content: "";
    border: 2px solid rgba(0,0,0,0);
    position: absolute;
    right: -.7rem;
    top: -.5rem;
    width: 0%;

    transition: all 1s;
    transition-delay: 1s;
    

 }

.contact-container__email-box {
    border: 1px solid red;
}

h3.copied {

    position: absolute;
    top: 39%;
    left: 50%;
    font-size: 4.2rem;
    transition: all .1s;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
 
    user-select: none;
    animation: hop .2s;

 }

 h3.copied::before {
    height: 132%;
    border: 2px solid rgba(0,0,0,1);

 }

 h3.copied::after {
    height: 132%;
    border: 2px solid rgba(0,0,0,1);

}

.top-bottom-border {
    display: inline;

}


 h3.copied > .top-bottom-border::before { 
    width: 103.4%;
    border: 2px solid rgba(0,0,0,1);

 }

 h3.copied > .top-bottom-border::after {
    width: 103.4%;
    border: 2px solid rgba(0,0,0,1);

 }



@keyframes hop {
     0% {
         transform: translate(-50%, -50%);
     }
     50% {
        transform: translate(-50%, -55%);
     }
     100% {
         transform: translate(-50%, -50%);
     }
 }

