.footer {
    /* position: absolute; */
    float: left;
    bottom: 0;
    left: 0;
    width: 100vw;
    
    /* height: 5vh; */
    /* display: block; */
    padding: 0rem 3rem;
    color: dodgerblue;
    background-color: snow;

}

