.footer {
    /* position: absolute; */
    float: left;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    /* display: block; */
    /* padding: 2rem 3rem; */
    color: dodgerblue;
    background-color: tomato;

}