.post {
    /* background-color: dodgerblue; */
    margin-bottom: 5rem;
}

.post__title {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 3rem;
}

.post__image-box {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
}

/* .post__title::after {
    content: "";
    display: block;
    margin-top: 2rem;
    width: 80%;
    height: 1px;
    background-color: rgb(112, 112, 112);
} */




.post__content {
    /* font-style: italic; */
    font-weight: 400;
    line-height: 1.9rem;
}

.post::after {
    display: block;
    content: "";
    margin-top: 3rem;
    width: 100%;
    height: 1px;
    background-color: black;
}

.post:last-child::after {
   display: none;
}
