/*  */
.post {
    transition: all 2s;
    /* overflow: hidden; */
    min-width: 100%;
    line-height: 2.3;
}
/* Image on left */
.post__left {
    vertical-align:top;
    display: inline-block;
    width: 38.2%;
    height: 82vh;
    /* border: 1px solid red; */
}
/* Text box section on right */
.post__right {
    /* position: fixed; */
    vertical-align:top;
    display: inline-block;
    /* border: 1px solid blue; */
    width: 61.8%;
    height: 82vh;
    overflow: auto;
    padding: 2rem 6rem;
    /* padding-top: 4rem;
    padding-left: 2rem; */
}

.post__right--title {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.post__right--paragraph {
    text-indent: 4rem;
}

.first-letter {
    
}