.post {
    transition: all 2s;
    /* overflow: hidden; */
    min-width: 100%;
}

.left {
    vertical-align:top;
    display: inline-block;
    width: 38.2%;
    height: 82vh;
    /* border: 1px solid red; */
}

.right {
    /* position: fixed; */
    vertical-align:top;
    display: inline-block;
    /* border: 1px solid blue; */
    width: 61.8%;
    height: 82vh;
    overflow: auto;
    padding-top: 4rem;
    padding-left: 2rem;
}